/* $baader-grey: #48504c;
$baader-blue: #003158;
$baader-white: white;
$grey-2: #a8b2af;
$grey-addition: #dbdcdb;
$red: #9b2423;
$green-6: #237f52;
$yellow: #f9a800;
$baader-green: #bbcf00;
$off-white: #f6f6f6; */
$grey-4: #66716b;
$grey-1: #dae1db;

.main-container {
  display: grid;
  grid-template-rows: 1fr 11fr;
  height: 100vh;
  width: 100%;
}

.content {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 2fr 10fr;
  background-color: #1e2834;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 3em;
  background-color: #151e28;
  color: $grey-1;
  padding: 0 2em;
  font-family: Impact, "Arial Narrow", "Arial", sans-serif, sans-serif;
  border-bottom: 5px solid $grey-4;
}

.logo {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.nav {
  background-color: #00101d;
  color: $grey-1;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 0.5em;
  padding-right: 1em;
  background-color: #00101d;

  span {
    padding-right: 0.5em;
    vertical-align: bottom;
  }
  a {
    text-decoration: none;
    color: $grey-1;
  }
}

.active-link,
li:hover {
  background-color: #151e28;
}
