$primary-color-blue1: #496989;
$primary-color-blue2: #58a399;

$sec-color-blue1: #a8cd9f;
$sec-color-blue2: #e2f4c5;
$sec-color-blue3: #164863;
$sec-color-blue4: #427d9d;
$sec-color-blue5: #9bbec8;
$sec-color-blue6: #ddf2fd;

.main-container {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
  width: 100%;
}

.content {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 10fr;
  background-color: rgb(27, 26, 26);
}

.content .nav {
  // background-color: $primary-color-blue1;
}

.header {
  background-color: black;
  display: flex;
  justify-content: end;
  height: 3em;
  // background-color: $primary-color-blue1;
}
