<div class="main-container">
  <div class="header">
    <!--  <img src="../assets/logo1.png" alt="Baader logo" /> -->
    <div class="logo"><h1>BAADER ////</h1></div>

    <div class="user">
      <span class="material-symbols-outlined"> account_circle </span>
    </div>
  </div>
  <div class="content">
    <div class="nav">
      <ul>
        <li routerLinkActive="active-link">
          <a [routerLink]="['/home']"
            ><span class="material-symbols-outlined"> monitoring </span
            >Dashboard</a
          >
        </li>
        <li routerLinkActive="active-link">
          <a [routerLink]="['/notifications']">
            <span class="material-symbols-outlined"> notifications </span
            >Notification</a
          >
        </li>
        <li>
          <span class="material-symbols-outlined"> trending_up </span>Trending
          Up
        </li>
        <li>
          <span class="material-symbols-outlined"> assignment_turned_in </span
          >Assignment
        </li>
      </ul>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
