<!-- <router-outlet></router-outlet> -->
<!-- <main>
  <div class="header"><header></header></div>
  <div class="main-content">
    <aside>
      <nav></nav>
    </aside>
    <section><app-dashboard></app-dashboard></section>
  </div>
</main> -->

<div class="main-container">
  <div class="header">
    <!--  <img src="../assets/logo1.png" alt="Baader logo" /> -->
    <div class="logo"><h1>Badder ////</h1></div>

    <div class="user">
      <span class="material-symbols-outlined"> account_circle </span>
    </div>
  </div>
  <div class="content">
    <div class="nav">
      <ul>
        <li>
          <span class="material-symbols-outlined"> monitoring </span>Dashboard
        </li>
        <li>
          <span class="material-symbols-outlined"> notifications </span
          >Notification
        </li>
      </ul>
    </div>
    <div class="main-content">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>
