$primary-color-blue1: #496989;
$primary-color-blue2: #58a399;

$sec-color-blue1: #a8cd9f;
$sec-color-blue2: #e2f4c5;
$sec-color-blue3: #164863;
$sec-color-blue4: #427d9d;
$sec-color-blue5: #9bbec8;
$sec-color-blue6: #ddf2fd;

.main-container {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
  width: 100%;
}

.content {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 10fr;
  background-color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 3em;
}

.logo {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  // color: white;
}
.nav {
  background-color: black;
  color: white;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1em;
}

li {
  list-style-type: none;
  display: flex;
  justify-self: center;
  justify-content: space-between;

  padding: 0.5em;
  padding-right: 1em;
  background-color: rgb(59, 57, 57);
}

li:hover {
  background-color: rgb(179, 174, 174);
}
