<div class="container">
  <div class="data-container">
    <div class="entry">
      <label for="id">Shackle Id</label>
      <div name="id" class="val">
        <h1>{{ currentShackleData.shackleId }}</h1>
      </div>
    </div>
    <div class="entry">
      <label for="weight">Bird weight</label>
      <div name="weight" class="val">
        <h1>{{ currentShackleData.weight | number : "1.2" }}</h1>
      </div>
    </div>
    <div class="entry">
      <label for="grade">Grade</label>
      <div name="grade" class="val">
        <h1>{{ currentShackleData.grade }}</h1>
      </div>
    </div>
    <div class="entry">
      <label for="dropOff">DropOff Id</label>
      <div name="dropOff" class="val">
        <h1>{{ currentShackleData.dropOff }}</h1>
      </div>
    </div>
  </div>
  <div class="weight-container">
    <ngx-charts-bar-horizontal
      [results]="dataset"
      [xAxisLabel]="'x-axis'"
      [legendTitle]="'legend'"
      [yAxisLabel]="'y-axis'"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [yAxis]="true"
      [gradient]="false"
      [view]="[600, 200]"
    >
    </ngx-charts-bar-horizontal>
  </div>

  <div class="grade-container">
    <ngx-charts-pie-chart
      [view]="[200, 200]"
      [results]="series"
      [legend]="true"
      [doughnut]="true"
      [legendTitle]="'Grades'"
      [legendPosition]="position"
      [labelFormatting]="pieChartLabel.bind(this, series)"
    >
    </ngx-charts-pie-chart>
  </div>

  <div class="weight-chart-container">
    <ngx-charts-pie-chart
      [view]="[200, 200]"
      [results]="series"
      [doughnut]="true"
      [legendTitle]="'Weight ranges'"
      [legend]="true"
      [doughnut]="true"
      [legendPosition]="position"
      [labelFormatting]="pieChartLabel.bind(this, series)"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
