<div class="container">
  <div class="data-container">
    <div class="entry">
      <label for="id">Shackle ID</label>
      <div name="id" class="val">
        <h1>{{ currentShackleData.shackleId }}</h1>
      </div>
    </div>
    <div class="entry">
      <label for="weight">Bird weight</label>
      <div name="weight" class="val">
        <h1>{{ currentShackleData.weight | number : "1.2" }}</h1>
      </div>
    </div>
    <div class="entry">
      <label for="dropOff">DropOff ID</label>
      <div name="dropOff" class="val">
        <h1>{{ currentShackleData.dropOff }}</h1>
      </div>
    </div>
    <div class="entry">
      <label for="grade">Grade</label>
      <div name="grade" class="val">
        <h1>{{ currentShackleData.grade }}</h1>
      </div>
    </div>
  </div>
  <div class="weight-container">
    <ngx-charts-bar-horizontal
      [results]="dataSet"
      [legendTitle]="'Dropoff Lines'"
      [yAxisLabel]="'Dropoff Lines'"
      [showXAxisLabel]="true"
      [yAxis]="true"
      [gradient]="false"
      [view]="[600, 200]"
      style="fill: #a8b2af"
      [legendPosition]="position"
      [showDataLabel]="true"
      [barPadding]="8"
    >
    </ngx-charts-bar-horizontal>
  </div>

  <div class="grade-container">
    <ngx-charts-pie-chart
      [view]="[200, 200]"
      [results]="gradesDataSet"
      [legend]="true"
      [doughnut]="true"
      [legendTitle]="'Grades'"
      [legendPosition]="position"
    >
    </ngx-charts-pie-chart>
  </div>

  <div class="weight-chart-container">
    <ngx-charts-pie-chart
      [view]="[200, 200]"
      [results]="weightsDataSet"
      [doughnut]="true"
      [legendTitle]="'Weight ranges'"
      [legend]="true"
      [legendPosition]="position"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
